name: Deploy to app tests

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request_target:
    branches: [ master ]

jobs:
  
  deploy-app-distribution:
    name: App distribution
    runs-on: ubuntu-latest
    environment: deploy
    if: github.event_name != 'pull_request_target'
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

  deploy-app-center:
    name: App center
    runs-on: ubuntu-latest
    environment: deploy
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
