name: Deploy to app stores

on:
  workflow_run:
    workflows: ["Unit tests"]
    types:
      - completed

  workflow_dispatch:

jobs:
  
  deploy:
    runs-on: ubuntu-latest
    environment: deploy
    if: github.event_name == 'workflow_run' && contains(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
