name: Unit tests

on:
  push:
    branches: [ master ]
    tags: [ '*' ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run test script
        env:
            TEST: ${{ secrets.TEST }}
            TEST2: ${{ secrets.TEST }}
        run: ./start.sh
